*
!.gitignore

!.bashrc

!/.config/alacritty/*
!/.config/alacritty/

!/.config/btop/**
!/.config/btop/

!/.config/fastfetch/**
!/.config/fastfetch/

!/.config/fontconfig/**
!/.config/fontconfig/

!/.config/hypr/**
!/.config/hypr/

!/.config/waybar/**
!/.config/waybar/

!/.config/mako/**
!/.config/mako/

!/.config/walker/**
!/.config/walker/

!/.config/Thunar/**
!/.config/Thunar/

!/.config/themes/**
!/.config/themes/

