@define-color selected-text #cc0000;
@define-color text #e0e0e0;
@define-color base #121212;
@define-color border #8a8a8a;
@define-color foreground #e0e0e0;
@define-color background #121212;

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 10px;
  border: 2px solid @border;
}

.preview-box {
}

.box {
}

.search-container {
  background: @base;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

/* disable */
.keybind-hints {
  background: red;

  color: aqua;
  /* background: @background; */
  /* padding: 10px; */
  /* margin-top: 10px; */
}

.keybind {
  visibility: hidden;
  opacity: 0;
  background: red;
  margin: -20px;
}

.preview {
  background: @background;
}
